name: Run Tcx Unit Testing

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always


jobs:
  build:
    name: Run Tcx Unit Testing
    runs-on: macos-14
    steps:


      - name: Checkout repository
        uses: actions/checkout@v3
        with:

          fetch-depth: 5

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.rustup
            target
          key: ${{ runner.os }}-nightly

      - name: Install Rust
        run: |
          rustup toolchain install nightly-2022-10-31
          rustup default nightly-2022-10-31-aarch64-apple-darwin
          rustup show

      - name: Install dependency
        run: |
          brew install protobuf

      - name: Run TCX Unit Testing
        run: |
          make test-tcx
